
<% if role == 'npo' %>

<div class="show_application">
    <% if application.notification_view_flag == 'npo' %>
        <div class="ui left red corner label">
            <div class="text">New</div>
        </div>
    <% end %>
    <div class="status_wrapper">
        <div class='application_status npo <%= application.status %>'>
            <% if application.status == 'apply' %>
                <%= "Pending approval" %>
            <% elsif application.status == 'view' %>
                <%= "Pending approval" %>
            <% elsif application.status == 'approve' %>
                <%= "Approved" %>
            <% elsif application.status == 'decline' %>
                <%= "Unaccepted" %>
            <% elsif application.status == 'engage' %>
                <%= "In progress" %>
            <% elsif application.status == 'complete' %>
                <%= "Completed" %>
            <% end %>
        </div>
    </div>
    <div class='project'><h1><%= link_to application.project.title, project_path(application.project), class: 'view_application' %></h1></div>
    <div class="application_deets">
        <div class='user'>User: <%= application.user.display_name %></div>
        <div class='application_date'>Application date: <%= application.created_at %></div>
        <div class='view_application' href="<%= project_application_path(application.project,application) %>">View application details</div>
    </div>
    <div class="user_action">
        <div class="status_change">
            <% if application.status == 'apply' || application.status == 'view' %>
                <p class='action_button ui tiny givrgreen button'><%= link_to 'Approve', creator_update_path(application.project, application), method: 'PUT', data: {todo: 'approve'}, class: 'user_action_button' %></p>
                <p class='action_button ui tiny red button'><%= link_to 'Decline', creator_update_path(application.project, application), method: 'PUT', data: {todo: 'decline'}, class: 'user_action_button' %></p>       
            <% elsif application.status == 'engage' %>
                <p class='action_button ui tiny givrgreen button'><%= link_to 'Complete', complete_application_path(application.project, application), method: 'GET', class: 'user_action_button_complete_application' %></p>        
            <% end %>
        </div>
        <% if ['complete'].include? application.status %>
            <div class="modify">
                <div class="admin_edit no_reload" href="<%= application_user_edit_path(application.project, application) %>"><%= fa_icon 'pencil-square-o' %></div>
            </div>
        <% end %>            
    </div>

</div>

<% elsif role == 'professional' %>

<div class="show_application professional" >
    <% if application.notification_view_flag == 'professional' %>
        <div class="ui left red corner label">
            <div class="text">New</div>
        </div>
    <% end %>
    <div class="status_wrapper">
        <div class='application_status pro <%= application.status %>'>
            <% if application.status == 'apply' %>
                <%= "Pending approval" %>
            <% elsif application.status == 'view' %>
                <%= "Pdng approval (viewed)" %>
            <% elsif application.status == 'approve' %>
                <%= "Approved" %>
            <% elsif application.status == 'decline' %>
                <%= "Unaccepted" %>
            <% elsif application.status == 'engage' %>
                <%= "In progress" %>
            <% elsif application.status == 'complete' %>
                <%= "Completed" %>
            <% elsif application.status == 'shortlist' %>
                <%= "Shortlisted" %>
            <% end %>
        </div>
    </div>

    <div class='project'><h1><%= link_to application.project.title, project_path(application.project), class: 'view_application' %></h1></div>
    <div class="application_deets">
        <div class='organization'>Organization: <%= application.project.user.org_name %></div>
        <div class='application_date'>Application date: <%= application.created_at %></div>
    </div>
    <div class="user_action">
        <div class="status_change">
            <% if application.status == 'shortlist' %>
                <div class='action_button ui tiny givrgreen button'><%= link_to 'Apply', applicant_update_path(application.project, application), class: 'user_action_button', data: {todo: 'apply'}, method: 'PUT' %>
                </div>
            <% elsif application.status == 'approve' %>
                <div class='action_button ui tiny givrgreen button'><%= link_to 'Engage', applicant_update_path(application.project, application), method: 'PUT', data: {todo: 'engage'}, class: 'user_action_button' %></div>
            <% end %>
        </div>
        <div class="modify">
            <div class="admin_delete no_reload application" href="<%= project_application_path(application.project,application) %>"><%= fa_icon 'times' %></div>
            <% if ['apply','view'].include? application.status %>
            <div class="admin_edit no_reload" href="<%= application_user_edit_path(application.project, application) %>"><%= fa_icon 'pencil-square-o' %></div>
            <% end %>            
        </div>

    </div>
</div>

<% end %>