
<% if role == 'npo' %>

<div class="show_application <%= "unread" if application.notification_view_flag == 'npo' %>" >
    <p class='user'>User: <%= application.user.email %></p>
    <p class='project'>Project: <%= application.project.title %></p>
    <p class='application_status'>Application status: <%= application.status %></p>
    <p class='application_date'>Application date: <%= application.created_at %></p>
    
    <% if application.status == 'apply' %>
        <p class='action_button'><%= link_to 'Approve', creator_update_path(application.project, application), method: 'PUT', data: {todo: 'approve'}, class: 'user_action_button' %></p>
    <% elsif application.status == 'approve' %>
        <p class='action_button'><%= link_to 'Unapprove', creator_update_path(application.project, application), method: 'PUT', data: {todo: 'unapprove'}, class: 'user_action_button' %></p>        
    <% elsif application.status == 'engage' %>
        <p class='action_button'><%= link_to 'Complete', creator_update_path(application.project, application), method: 'PUT', data: {todo: 'complete'}, class: 'user_action_button' %></p>        
    <% end %>

    <p><%= link_to 'Resume', application.user.resume_url %></p>

</div>

<% elsif role == 'professional' %>

<div class="show_application <%= "unread" if application.notification_view_flag == 'professional' %>" >
    <p class='project'>Project: <%= application.project.title %></p>
    <p class='organization'>Organization: <%= application.project.user.email %></p>
    <p class='application_status'>Application status: <%= application.status %></p>
    <p class='application_date'>Application date: <%= application.created_at %></p>

    <% if application.status == 'shortlist' %>
        <p class='action_button'><%= link_to 'Apply', applicant_update_path(application.project, application), class: 'user_action_button', data: {todo: 'apply'}, method: 'PUT' %>
        </p>

    <% elsif application.status == 'approve' %>
        <p class='action_button'><%= link_to 'Engage', applicant_update_path(application.project, application), method: 'PUT', data: {todo: 'engage'}, class: 'user_action_button' %></p>
    <% end %>

</div>

<% end %>