    <% if @completion_type == 'complete' %>
      <% @lable_message = "Additional notes on #{@application.user.display_name}'s performance and general comments about the engagement (this is only visible to Givingly)" %>
      <% @button_label = "Finish engagement" %>
    <% elsif @completion_type == 'terminated' %>
      <% @lable_message = "Why was this engagement terminated? (this is only visible to Givingly)" %>
      <% @button_label = "Terminate engagement" %>
    <% end %>
<div class="ui form segment profile_form" id="slimScroll_edit_application">
  <div id="close_project">
    <%= fa_icon 'times' %>
  </div>  
  <p class='section_title'><%= @application.project.title %></p>
  <div class="ui divider"></div>
  <%= form_for @application, url: creator_update_path(@application.project,@application, todo: 'complete'), :remote => true do |f| %>
    <div class="required_asterisk_legend"><%= fa_icon 'asterisk' %> Indicates required fields</div>
    <div class="field">
      <p class='section_title'><%= f.label :hours do %> Hours volunteered by <%= @application.user.display_name %> <%= fa_icon 'asterisk', class: 'required_asterisk' %> <% end %></p>
      <p><%= f.text_field :hours, class:'text_field required_field' %></p>
    </div>
    <div class="field">
      <p class='section_title'><%= f.label :rating_for_professional, "How would you rate the #{@application.user.display_name}'s performance? (5 is best performance)" %></p>
      <%= f.select :rating_for_professional, [5,4,3,2,1] %>
    </div>
    <div class="i_am_a grouped inline fields">
    Would you work with <%= @application.user.display_name %> again in the future?
        <div class="field">
            <div class="ui radio checkbox">
                <%= f.radio_button :work_again, 'yes' %>
                <%= f.label :work_again_yes, 'Yes' %>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <%= f.radio_button :work_again, 'no' %>
                <%= f.label :work_again_no, 'No' %>
            </div>
        </div>
    </div>
    <%= hidden_field_tag :completion_type, @completion_type %>
    <div class="field">
      <p class='section_title'><%= f.label :comments_for_professional, @lable_message %></p>
      <p><%= f.text_area :comments_for_professional, class:'text_area' %></p>
    </div>
    <div class="errors missing_field_error hidden">
      </div>
    <div class="actions">
      <%= f.submit @button_label, class: 'submit mini ui givrgreen button check_required_fields' %>
    </div>
  <% end %>
</div>