<div class="ui form segment profile_form">
  <h2>Application details</h2>
  <div class="ui divider"></div>
  <div id="close_project">
    <%= fa_icon 'times' %>
  </div> 
  <div class="field">
    <p class='section_title'>Project</p>
    <p><%= @application.project.title %></p>
    <div class="ui divider"></div>
  </div>
  <div class="field">
    <p class='section_title'>Professional's name</p>
    <p><%= @application.user.display_full_name %></p>
    <div class="ui divider"></div>
  </div>
  <div class="field">
    <p class='section_title'>Email</p>
    <p><%= @application.user.email %></p>
    <div class="ui divider"></div>
  </div>
  <% if @application.user.phone %>
    <div class="field">
      <p class='section_title'>Phone number</p>
      <p><%= @application.user.phone + if @application.user.extension; "ext. "+@application.user.extension.to_s else "" end %></p>
      <div class="ui divider"></div>
    </div>    
  <% end %>
  <div class="field">
    <p class='section_title'>Resume</p>
    <% if @application.user.resume_exists? %>
    <div class="uploaded_stuff_action"><%= link_to @application.user.resume_url(:query => {"response-content-disposition" => "attachment"}) do %>
        <%= fa_icon 'download', class: 'icon_left' %>Download resume
      <% end %>
    </div>
    <% else %>
      <p>No resume provided</p>
    <% end %>
    <div class="ui divider"></div>
  </div>
  <div class="field">
    <p class='section_title'>Estimated completion date</p>
    <p><%= @application.est_completion_date %></p>
  </div>
  <div class="ui divider"></div>
  <div class="field">
    <p class='section_title'>Message from professional</p>
    <p><%= @application.message %></p>
  </div>
  <div class="ui divider"></div>
  <div class="field">
    <p class='section_title'>Open questions</p>
    <p><%= @application.open_questions %></p>
  </div>
  <div class="ui divider"></div>
  <div class="field">
    <p class='section_title'>Resources required</p>
    <p><%= @application.required_resources %></p>
  </div>
  <% if @application.status == 'complete' && @user.is?('npo') %>
    <div class="field">
      <div class="ui divider"></div>
      <p class='section_title'>Hours volunteered</p>
      <p><%= @application.hours %></p>
    </div>
    <div class="field">
      <div class="ui divider"></div>
      <p class='section_title'>Rating for <%= @application.user.display_name %></p>
      <p><%= @application.rating_for_professional %></p>
    </div>
    <div class="field">
      <div class="ui divider"></div>
      <p class='section_title'>Would work with <%= @application.user.display_name %> again</p>
      <p><%= @application.work_again %></p>
    </div>
    <div class="field">
      <div class="ui divider"></div>
      <p class='section_title'>Feedback for <%= @application.user.display_name %></p>
      <p><%= @application.comments_for_professional %></p>
    </div>
  <% end %>
</div>