<div class="ui form segment profile_form" id="slimScroll_edit">
  <h2>Application details</h2>
  <div class="ui divider"></div>
  <% if current_user.is? 'npo' && (@application.status == 'apply' || @application.status == 'view') %>
  <div class="field explanation">
    Please review the information on the professional below. Once you review the application, please email the professional to set up a time to chat. <br><br>

    The chat is an opportunity for the professional to ask you any additional project information, and for you to assess if the professional is a good fit.<br><br>

    When you are happy with the professional's timeline and approach, you can approve the project from your dashboard.
  </div>
  <% end %>

  <div id="close_project">
    <%= fa_icon 'times' %>
  </div> 
  <div class="field">
    <p class='section_title'>Project</p>
    <div class="ui label"><%= @application.project.title %></div>
  </div>
  <div class="field">
    <p class='section_title'>Professional's name</p>
    <div class="ui label"><%= @application.user.display_full_name %></div>
  </div>
  <div class="field">
    <p class='section_title'>Email</p>
    <div class="ui label"><%= @application.user.email %></div>
  </div>
  <% if !@application.user.website.blank? %>
  <div class="field">
    <p class='section_title'>Website</p>
    <div class="ui label"><%= link_to @application.user.website, @application.user.proper_website, target: '_blank' %></div>
  </div>
  <% end %>
  <% if !@application.user.org_name.blank? %>
  <div class="field">
    <p class='section_title'>Company</p>
    <div class="ui label"><%= @application.user.org_name %></div>
  </div>
  <% end %>
  <% if !@application.user.years_of_experience.blank? %>
  <div class="field">
    <p class='section_title'>Years of experience</p>
    <div class="ui label"><%= @application.user.years_of_experience %></div>
  </div>
  <% end %>
  <% if @application.user.phone %>
    <div class="field">
      <p class='section_title'>Phone number</p>
      <div class="ui label"><%= @application.user.phone + if @application.user.extension; "ext. "+@application.user.extension.to_s else "" end %></div>
    </div>    
  <% end %>
  <div class="field">
    <p class='section_title'>Resume</p>
    <% if @application.user.resume_exists? %>
    <div class="ui label">
      <div class="uploaded_stuff_action"><%= link_to @application.user.resume_url(:query => {"response-content-disposition" => "attachment"}) do %>
          <%= fa_icon 'download', class: 'icon_left' %>Download resume
        <% end %>
      </div>
    </div>
    <% else %>
      <div class="ui label">No resume provided</div>
    <% end %>
  </div>
<!--   <div class="field">
    <p class='section_title'>Estimated completion date</p>
    <div class="ui label"> @application.est_completion_date.strftime('%Y-%m-%d') if @application.est_completion_date %></div>
  </div> -->
  <div class="field">
    <p class='section_title'>Message from professional</p>
    <div class="ui label"><%= @application.message %></div>
  </div>
  <% if !@application.open_questions.blank? %>
  <div class="field">
    <p class='section_title'>Open questions</p>
    <div class="ui label"><%= @application.open_questions %></div>
  </div>
  <% end %>
  <% if !@application.required_resources.blank? %>
  <div class="field">
    <p class='section_title'>Resources required</p>
    <div class="ui label"><%= @application.required_resources %></div>
  </div>
  <% end %>
  <% if @application.status == 'complete' && @user.is?('npo') %>
    <div class="field">
      <p class='section_title'>Hours volunteered</p>
      <div class="ui label"><%= @application.hours %></div>
    </div>
    <div class="field">
      <p class='section_title'>Rating for <%= @application.user.display_name %></p>
      <div class="ui label"><%= @application.rating_for_professional %></div>
    </div>
    <div class="field">
      <p class='section_title'>Would work with <%= @application.user.display_name %> again</p>
      <div class="ui label"><%= @application.work_again %></div>
    </div>
    <div class="field">
      <p class='section_title'>Feedback for <%= @application.user.display_name %></p>
      <div class="ui label"><%= @application.comments_for_professional %></div>
    </div>
  <% end %>
</div>