<div class="ui form segment profile_form" id="slimScroll_edit_application">
  <div id="close_project">
    <%= fa_icon 'times' %>
  </div>    
  <%= form_for [@application.project, @application], url: if current_user.is? 'professional'; applicant_update_path(@application.project,@application, todo: 'update_info') elsif current_user.is? 'npo'; creator_update_path(@application.project,@application, todo: 'update_info') end, :remote => true do |f| %>
    <% if current_user.is? 'professional' %>
        <div class="required_asterisk_legend"><%= fa_icon 'asterisk' %> Indicates required fields</div>
        <% if current_user.contact_first_name.blank? || current_user.contact_last_name.blank? %>  
          <script>
            var error_declaration_variable = 1
          </script>
          <br>
          <div class="errors">
                  You must fill in your first and last name before you can apply to projects. You can add that under <%= link_to "Edit my info", user_profile_path+'#settings'%> tab in your profile dashboard.
          </div>
        <% end %>
        <div class="field">
          <%= f.label 'est_completion_date' do %> Estimated completion date <%= fa_icon 'asterisk', class: 'required_asterisk' %> <% end %>
          <%= f.text_field 'est_completion_date', class: 'required_field' %>
        </div>
        <div class="field">
          <%= f.label 'message' do %> Add a message <%= fa_icon 'asterisk', class: 'required_asterisk' %> <% end %>
          <%= f.text_area 'message', class: 'required_field'%>
        </div>
        <div class="field">
          <%= f.label 'open_questions', "Additional questions for the not-for-profit organization" %>
          <%= f.text_area 'open_questions' %>
        </div>
        <div class="field">
          <%= f.label 'required_resources', "Resource required" %>
          <%= f.text_area 'required_resources' %>
        </div>
    <% elsif current_user.is? 'npo'%>
     <div class="required_asterisk_legend"><%= fa_icon 'asterisk' %> Indicates required fields</div>
      <div class="field">
        <p class='section_title'><%= f.label :hours do %> Hours volunteered by <%= @application.user.display_name %> <%= fa_icon 'asterisk', class: 'required_asterisk' %> <% end %></p>
        <p><%= f.text_field :hours, class:'text_field required_field' %></p>
      </div>
      <div class="field">
        <p class='section_title'><%= f.label :rating_for_professional, "How would you rate the #{@application.user.display_name}'s performance? (5 is best performance)" %></p>
        <%= f.select :rating_for_professional, [5,4,3,2,1] %>
      </div>
      <div class="i_am_a grouped inline fields">
      Would you work with <%= @application.user.display_name %> again in the future?
          <div class="field">
              <div class="ui radio checkbox">
                  <%= f.radio_button :work_again, 'yes' %>
                  <%= f.label :work_again_yes, 'Yes' %>
              </div>
          </div>
          <div class="field">
              <div class="ui radio checkbox">
                  <%= f.radio_button :work_again, 'no' %>
                  <%= f.label :work_again_no, 'No' %>
              </div>
          </div>
      </div>
      <div class="field">
        <p class='section_title'><%= f.label :comments_for_professional, "Feedback for #{@application.user.display_name} (This will not be visible to the professional if you chose not to work with him/her again." %></p>
        <p><%= f.text_area :comments_for_professional, class:'text_area' %></p>
      </div>
    <% end %>
    <div class="errors missing_field_error hidden">
    </div>
    <div class="actions">
      <% if @application.status == 'save' %>
        <div class="ui mini givrgreen button check_required_fields application_submit" href="<%= applicant_update_path(@application.project,@application,todo: 'apply') %>" data-method="PUT">Submit</div>
        <div class="ui mini givrgreen button application_submit" href="<%= applicant_update_path(@application.project,@application,todo: 'save') %>" data-method="PUT">Save</div>
      <% else %>
        <%= f.submit class: 'submit mini ui givrgreen button check_required_fields' %>
      <% end %>
    </div>
    <span class="form_validation_source_button"></span>
  <% end %>
</div>