<div class="login_box hidden">
    <div class="ui tabular menu">
        <div class="horizontal_tab link active item" data-openitem='login'>LOG IN</div>
        <div class="horizontal_tab link item" data-openitem= 'signup'>SIGN UP</div>
    </div>
    <div class="ui form segment" id='login'>
        <%= form_tag '/sessions' do %>
        <div class='field'>
            <%= label_tag 'email', 'Email' %>
            <%= text_field_tag 'email', nil,placeholder: 'email', class: 'ui input' %>
        </div>
        <div class='field'>
            <%= label_tag 'password', 'Password' %>
            <%= password_field_tag 'password', nil, placeholder: 'password', class: 'ui input' %>
        </div>
        <p>
            <%= submit_tag 'Log in now', class: 'mini ui givrgreen button' %>
        </p>
        <% end %>
        <div class="forgot_password">
            <%= render 'users/forgot_password_form' %>
        </div>
        <div class="ui horizontal divider">Or login with</div>
        <%= link_to 'facebook', auth_at_provider_path(provider: :facebook), class: 'mini ui facebook button', id: 'facebook' %>
        <%= link_to 'linkedIn', auth_at_provider_path(provider: :linkedin), class: 'mini ui linkedin button', id: 'linkedin' %>
    </div>
    <div class="ui form segment" id='signup'>
        <%= form_for @user do |f| %>
        <div class='error_messages'>
            <%= @user.errors.full_messages.first if @user.errors.any? %>
        </div>
        <div class="field">
            <%= label_tag 'email', 'Email' %>
            <%= f.text_field 'email', placeholder: 'email', class: 'ui input' %>
        </div>
        <div class="field">
            <%= label_tag 'password', 'Password' %>
            <%= f.password_field 'password', placeholder: 'password', class: 'ui input' %>
        </div>
        <div class="field">
            <%= label_tag 'password_confirmation', 'Confirm password' %>
            <%= f.password_field 'password_confirmation', placeholder: 'confirm password', class: 'ui input' %>
        </div>
        <div class="i_am_a grouped inline fields">
        I am a:
            <div class="field">
                <div class="ui radio checkbox">
                    <%= f.radio_button :role, 'professional' %>
                    <%= f.label :role_professional, 'Professional' %>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <%= f.radio_button :role, 'npo' %>
                    <%= f.label :role_npo, 'Non-Profit Organization' %>
                </div>
            </div>
        </div>
        <p>
            <%= f.submit 'Sign up now', class: 'mini ui givrgreen button' %>
        </p>
        <div class="ui horizontal divider">Or sign up with</div>
        <%= link_to 'facebook', auth_at_provider_path(provider: :facebook), class: 'mini ui facebook button', id: 'facebook' %>
        <%= link_to 'linkedin', auth_at_provider_path(provider: :linkedin), class: 'mini ui linkedin button', id: 'linkedin' %>
        <% end %>
    </div>
</div>