<% if current_user.role == 'professional' %>
    <div class="user_options_menu hidden">
        <div class="ui secondary vertical menu">
            <% unless @abridged_menu %>
                <%= link_to 'My summary',  user_profile_path+'#summary', class: 'item' %>
                <div class="ui fitted inverted divider"></div>
                <%= link_to 'Shortlisted projects', user_profile_path+'#shortlist', class: 'item' %>
                <div class="ui fitted inverted divider"></div>
                <%= link_to user_profile_path+'#applications', class: 'item' do %>
                My applications
                <div class="notification_count ui small red label <%= "hidden" if @notification_count.nil? || @notification_count == 0 %>"><%= @notification_count %></div>
                <% end %>
                <div class="ui fitted inverted divider"></div>
                <%= link_to 'In-progress projects', user_profile_path+'#in_progress', class: 'item' %>
                <div class="ui fitted inverted divider"></div>
                <%= link_to 'Completed projects', user_profile_path+'#projects', class: 'item' %>
                <div class="ui fitted inverted divider"></div>
                <%= link_to 'Edit my info', user_profile_path+'#settings', class: 'item' %>
                <div class="ui fitted inverted divider"></div>
            <% end %>
            <%= link_to 'Log out', session_path('current'), method: 'delete', class: 'item' %>
        </div>
    </div>
<% elsif current_user.role == 'npo' %>
    <div class="user_options_menu hidden">
        <div class="ui secondary vertical menu">
            <% unless @abridged_menu %>
                <%= link_to 'My summary',  user_profile_path+'#summary', class: 'item' %>
                <div class="ui fitted inverted divider"></div>
                <%= link_to 'My projects',  user_profile_path+'#my_projects', class: 'item' %>
                <div class="ui fitted inverted divider"></div>
                <%= link_to user_profile_path+'#applications', class: 'item' do %>
                Project applications
                <div class="notification_count ui small red label <%= "hidden" if @notification_count.nil? || @notification_count == 0 %>"><%= @notification_count %></div>
                <% end %>
                <div class="ui fitted inverted divider"></div>
                <%= link_to 'In-progress projects', user_profile_path+'#in_progress', class: 'item' %>
                <div class="ui fitted inverted divider"></div>
                <%= link_to 'Completed projects', user_profile_path+'#projects', class: 'item' %>
                <div class="ui fitted inverted divider"></div>
                <%= link_to 'Add a new project', user_profile_path+'#add-new', class: 'item' %>
                <div class="ui fitted inverted divider"></div>
                <%= link_to 'Edit my info', user_profile_path+'#settings', class: 'item' %>
                <div class="ui fitted inverted divider"></div>
            <% end %>
            <%= link_to 'Log out', session_path('current'), method: 'delete', class: 'item' %>
        </div>
    </div>
<% elsif current_user.role == 'admin' %>
    <div class="user_options_menu hidden">
        <div class="ui secondary vertical menu">
            <% unless @abridged_menu %>
                <%= link_to 'Admin dashboard',  user_profile_path+'', class: 'item' %>
                <div class="ui fitted inverted divider"></div>
            <% end %>
            <%= link_to 'Log out', session_path('current'), method: 'delete', class: 'item' %>
        </div>
    </div>
<% end %>