<!-- This is the additional logic layer that wraps around the actual upload -->
<div class='error_messages'></div>
<% if user.resume.file.nil? %>
  <div class="upload">
    <p class="section_title">Upload your resume</p>
    <div class="ui divider"></div>
    <%= render partial: 'users/raw_upload', locals: {user: user} %>
  </div>
<% else %>
  <% if !user.resume.file.exists? %>
    <div class="upload">
      <p class="section_title">Upload your resume</p>
      <div class="ui divider"></div>
      <%= render partial: 'users/raw_upload', locals: {user: user} %>
    </div>
  <% else %>
    <p class="section_title">Your resume</p>
    <div class="ui divider"></div>
    <div class="uploaded_stuff_action"><%= link_to user.resume_url(:query => {"response-content-disposition" => "attachment"}) do %>
        <%= fa_icon 'download', class: 'icon_left' %>Download resume
      <% end %>
    </div>
    <div class="uploaded_stuff_action"><%= link_to user_upload_resume_path(resume_action: 'remove' ), method: 'patch', class: 'remove_upload' do %> 
          <%= fa_icon 'times', class: 'icon_left' %>Remove resume
        <% end %>
    </div>
  <% end %>
<% end %>
