<%= render 'shared/alt_header' %>
<%= render 'shared/alt_static' %>


<div class="organization_info">
<div class="basic_info">
    <div class="org_title">
      <div class="logo">
          <% if !@npo.logo.file.nil? %>
            <% if @npo.logo.file.exists? %>
              <%= image_tag @npo.logo_url(:thumb), class: 'logo' %>
            <% end %>
          <% end %>
      </div>
      <br>
      <div class="org_name">
          <%= @npo.org_name %>
      </div>
    </div>
  <div class="email">
    Email:
      <%= @email %>
  </div>
  <div class="cause">
      <%= @cause %>
  </div>
  <div class="website">
      <%= @website %>
  </div>
  <div class="city">
      <%= @city %>
  </div>
  <div class="org_size">
      <%= @size %>
  </div>
</div>
  <div class="ui divider"></div>
  <div class="mission">
      <h1>Our mission</h1><br>
      <%= @mission %>
  </div>
  <div class="description">
      <h1>Our activities</h1><br>
      <%= @description %>
  </div>


<div class="projects_show org_projects">
    <h1>Our active projects</h1>
    <%= render @projects %>
</div>