<%= render 'shared/alt_header' %>
<%= render 'shared/alt_static' %>

<%= stylesheet_link_tag '//cdn.datatables.net/1.10.0/css/jquery.dataTables.css', type: 'text/css' %>

<div class="background_div index">
  <% if @user.role.nil? %>

  <div class="without_role">
    <div class="user_form">
      <%= form_for @user, url: update_role_path do |f| %>
        <p>I am a:
            <%= f.radio_button :role, 'professional' %>
            <%= f.label :role_volunteer, 'Professional' %>
            <%= f.radio_button :role, 'npo' %>
            <%= f.label :role_npo, 'Non-Profit Organization' %>
        </p>
        <p>
            <%= f.submit 'Set my role' %>
        </p>
      <% end %>
    </div>
  </div>

  <% elsif @user.role == 'admin' %>
  
  <div class="admin_panel">
    <div class="projects">
      <div class="section_name">Projects (<span class="admin_create" href="<%= new_project_path %>">add</span>)</div>
      <div class="high_level_stats">Project count
        <table class="stats">
          <tr>
            <th>All</th>
            <th>Under review</th>
            <th>Active</th>
          </tr>
          <tr>
            <td><%= @project_count %></td>
            <td><%= @project_count_under_review %></td>
            <td><%= @project_count_active %></td>
          </tr>
        </table>
      </div>
      <table id="admin_projects" class="display">
        <thead>
          <tr>
            <th>Project title</th>
            <th>Organization</th>
            <th>Skill category</th>
            <th>Cause</th>
            <th>Location</th>
            <th>Status</th>
            <th>Positions</th>
            <th>Shortlisted</th>
            <th>Applied</th>
            <th>Approved</th>
            <th>Rejected</th>
            <th>Started</th>
            <th>Completed</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Approve</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= project.title %></td>
              <td><%= project.user.org_name if project.user %></td>
              <td><%= project.category.category if project.category %></td>
              <td><%= project.cause.cause if project.cause %></td>
              <td><%= project.location.location if project.location %></td>
              <td><%= project.status %></td>
              <td><%= project.number_of_positions %></td>
              <td><%= project.applications.where("applications.status like 'shortlist'").length %></td>
              <td><%= project.applications.where("applications.status like 'apply'").length %></td>
              <td><%= project.applications.where("applications.status like 'approve'").length %></td>
              <td><%= project.applications.where("applications.status like 'decline'").length %></td>
              <td><%= project.applications.where("applications.status like 'engage'").length %></td>
              <td><%= project.applications.where("applications.status like 'complete'").length %></td>
              <td><%= project.created_at %></td>
              <td><%= project.updated_at %></td>
              <td>
                <%= link_to project_admin_update_path(project.id), method: 'PUT' do %>
                  <div class="ui tiny button">
                    <% if project.status == 'under review' %>
                      Approve
                    <% else %>
                      Unapprove
                    <% end %>
                  </div>
                <% end %>
              </td>
              <td>
                <div class="ui tiny button admin_edit" href="<%= edit_project_path(project) %>">Edit</div>
              </td>
              <td><div class="ui tiny button admin_delete" href="<%= project_path(project) %>">Delete</div></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="applications">
      <div class="section_name">Applications</div>
      <div class="high_level_stats">Application count
        <table class="stats">
          <tr>
            <th>All</th>
            <th>Shortlisted</th>
            <th>Under review</th>
            <th>Approved</th>
            <th>Declined</th>
            <th>Started</th>
            <th>Completed</th>
          </tr>
          <tr>
            <td><%= @application_count %></td>
            <td><%= @application_count_shortlist %></td>
            <td><%= @application_count_apply %></td>
            <td><%= @application_count_approve %></td>
            <td><%= @application_count_decline %></td>
            <td><%= @application_count_engage %></td>
            <td><%= @application_count_complete %></td>
          </tr>
        </table>
      </div>
      <table id="admin_applications" class="display">
        <thead>
          <tr>
            <th>Organization</th>
            <th>Project</th>
            <th>Applicant</th>
            <th>Status</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @applicationss.each do |application| %>
            <tr>
              <td><%= application.project.user.org_name if application.project.user %></td>
              <td><%= application.project.title %></td>
              <td><%= application.user.display_name %></td>
              <td><%= application.status %></td>
              <td><%= application.created_at %></td>
              <td><%= application.updated_at %></td>
              <td><div class="ui tiny button admin_edit" href="<%= edit_project_application_path(application.project,application) %>">Edit</div></td>
              <td><div class="ui tiny button admin_delete" href="<%= project_application_path(application.project,application) %>">Delete</div></td>
            </tr>
          <% end %>
        </tbody>
      </table>      
    </div>
    <div class="users">
      <div class="section_name">Users</div>
      <div class="high_level_stats">User count
        <table class="stats">
          <tr>
            <th>All</th>
          </tr>
          <tr>
            <td><%= @user_count %></td>
          </tr>
        </table>
      </div>
      <table id="admin_users" class="display">
        <thead>
          <tr>
            <th>Email</th>
            <th>Role</th>
            <th>City</th>
            <th>Organization</th>
            <th>Phone number</th>
            <th>Extension</th>
            <th>Website</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.email %></td>
              <td><%= user.role %></td>
              <td><%= user.city %></td>
              <td><%= user.org_name %></td>
              <td><%= user.phone %></td>
              <td><%= user.extension %></td>
              <td><%= link_to user.website, user.proper_website %></td>
              <td><%= user.created_at %></td>
              <td><%= user.updated_at %></td>
              <td><div class="ui tiny button admin_edit" href="<%= edit_user_path(user) %>">Edit</div></td>
              <td><div class="ui tiny button admin_delete" href="<%= user_path(user) %>">Delete</div></td>
            </tr>
          <% end %>
        </tbody>
      </table>      
    </div>
    <div class="categories">
      <div class="section_name">Skill categories (<span class="admin_create" href="<%= new_category_path %>">add</span>)</div>
      <table id="admin_categories" class="display">
        <thead>
          <tr>
            <th>Category</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.category %></td>
              <td><%= category.description %></td>
              <td><div class="ui tiny button admin_edit" href="<%= edit_category_path(category) %>">Edit</div></td>
              <td><div class="ui tiny button admin_delete" href="<%= category_path(category) %>">Delete</div></td>
            </tr>
          <% end %>
        </tbody>
      </table>      
    </div>
    <div class="causes">
      <div class="section_name">Causes (<span class="admin_create" href="<%= new_cause_path %>">add</span>)</div>
      <table id="admin_causes" class="display">
        <thead>
          <tr>
            <th>Cause</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @causes.each do |cause| %>
            <tr>
              <td><%= cause.cause %></td>
              <td><%= cause.description %></td>
              <td><div class="ui tiny button admin_edit" href="<%= edit_cause_path(cause) %>">Edit</div></td>
              <td><div class="ui tiny button admin_delete" href="<%= cause_path(cause) %>">Delete</div></td>
            </tr>
          <% end %>
        </tbody>
      </table>      
    </div>
    <div class="locations">
      <div class="section_name">Locations (<span class="admin_create" href="<%= new_location_path %>">add</span>)</div>
      <table id="admin_locations" class="display">
        <thead>
          <tr>
            <th>Location</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @locations.each do |location| %>
            <tr>
              <td><%= location.location %></td>
              <td><%= location.description %></td>
              <td><div class="ui tiny button admin_edit" href="<%= edit_location_path(location) %>">Edit</div></td>
              <td><div class="ui tiny button admin_delete" href="<%= location_path(location) %>">Delete</div></td>
            </tr>
          <% end %>
        </tbody>
      </table>      
    </div>
  </div>


  <% else %>

  <div class="with_role">
    <div class="profile_view_nav">
        <div class="profile_menu">
          <div class="profile_view_nav_buttons ui secondary fluid vertical pointing menu">   
                  <div class="header item">
                    <h1><%= current_user.display_name %></h1>
                    <p><% if current_user.role == 'professional' %>
                        <%= "Professional" %>
                       <% elsif current_user.role == 'npo' %>
                        <%= "Non-profit" %>
                       <% end %>
                    </p>
                  </div>
                  <div class="ui fitted inverted divider"></div>
                  <div class='profile_view_button link item' id='summary'>My summary</div>  
                  <div class="ui fitted inverted divider"></div>             
                  <% if @user.is? 'professional' %> 
                    <div class='profile_view_button link item' id='shortlist'>
                      Shortlisted projects
                    </div>                  
                  <% elsif @user.is? 'npo' %>
                    <div class='profile_view_button link item' id='my_projects'>
                      My projects
                    </div>
                  <% end %>
                  <div class="ui fitted inverted divider"></div>
                  <div class='profile_view_button link item' id='applications' data-readapp = '<%= read_applications_path %>'>
                    <% if @user.is? 'professional' %>
                      My applications
                    <% elsif @user.is? 'npo' %>
                      Project applications 
                    <% end %>
                  <div class="notification_count ui small red label <%= "hidden" if @notification_count.nil? || @notification_count == 0 %>"><%= @notification_count %></div>
                  </div>
                  <div class="ui fitted inverted divider"></div>
                  <div class='profile_view_button link item' id='in_progress'>
                  <% if @user.is? 'professional' %>
                    In-progress projects
                  <% elsif @user.is? 'npo' %>
                    In-progress projects
                  <% end %>
                  </div>    
                  <div class="ui fitted inverted divider"></div>
                  <div class='profile_view_button link item' id='projects'>
                  <% if @user.is? 'professional' %>
                    Completed projects
                  <% elsif @user.is? 'npo' %>
                    Completed projects
                  <% end %>
                  </div>              
              <% if @user.role == 'npo' %>
                    <div class="ui fitted inverted divider"></div>
                    <div class="profile_view_button link item" id="add-new">Add new project</div>
              <% end %>
                <div class="ui fitted inverted divider"></div>
                <div class='profile_view_button link item' id='settings'>Edit my info</div>
          </div>
        </div>
    </div>
    <div class="profile_view">
        <div class="profile_view_content" id='summary'>
          <% if @user.role == 'professional' %>
          <div class="points">
            <p><%= "You have completed #{pluralize(@number_completed_applications, 'project')} to date and earned #{pluralize(@points, 'point')}." %></p>
          </div>
          <% elsif @user.role == 'npo' %>
            <div class='project_view_container'>
              <%= render 'project_view' %>
            </div>
          <% end %>
        </div>

        <div class="profile_view_content" id='projects'>
              <%= render partial: 'applications/application', collection: @completed_applications, locals: {role: @role} %>
        </div>
        <% if @user.is? 'npo' %>
          <div class="profile_view_content" id='my_projects'>
            <%= render partial: 'projects/project', collection: @projects, locals: {loc: 'project'} %>
          </div>
        <% end %>
        <div class="profile_view_content" id='applications'>
            <%= render partial: 'applications/application', collection: @applicationss, locals: {role: @role} %>
        </div>
        <div class="profile_view_content" id='in_progress'>
            <%= render partial: 'applications/application', collection: @in_progress_applications, locals: {role: @role} %>
        </div>        
        <% if @user.role == 'professional' %>
          <div class="profile_view_content" id='shortlist'>
              <div id="error_messages">
              </div>
              <%= render partial: 'projects/project', collection: @shortlists, locals: {loc: 'shortlist'} %>
          </div>
        <% end %>
        
        <% if @user.role == 'npo' %>
          <% @project = Project.new %>
          <div class="profile_view_content" id="add-new">
            <%= render 'projects/form' %>
          </div>
        <% end %>

        <div class="profile_view_content" id='settings'>
          <% if @user.role == 'professional' %>
            <div class='ui form segment profile_form'>
              <%= form_for @user do |f| %>
                <div class='field'>
                  <p class='section_title'><%= f.label :contact_first_name, "First name:" %></p>
                  <p><%= f.text_field :contact_first_name, class: 'text_field' %></p>
                </div>
                <div class='field'>
                  <p class='section_title'><%= f.label :contact_last_name, "Last name:" %></p>
                  <p><%= f.text_field :contact_last_name, class: 'text_field' %></p>
                </div>
                <div class='field'>
                  <p class='section_title'><%= f.label :org_name, "Company name" %></p>
                  <p><%= f.text_field :org_name, class: 'text_field' %></p>
                </div>
                <div class='field' <%= if @user.org_name.blank?; "style=display:none" end %> id="user_emp_id_form_section_container">
                  <p class='section_title'><%= f.label :employee_id, "Employee ID (if applicable)" %></p>
                  <p><%= f.text_field :employee_id, class: 'text_field' %></p>
                </div>
                <div class='field'>
                  <p class='section_title'><%= f.label :email, "Email:" %></p>
                  <p><%= f.text_field :email, class: 'text_field' %></p>
                </div>
                <div class='field'>
                  <p class='section_title'><%= f.label :phone, "Preferred contact phone number:" %></p>
                  <p><%= f.text_field :phone, class: 'text_field' %></p>
                </div>
                <div class='field'>
                  <p class='section_title'><%= f.label :years_of_experience, "Years of experience:" %></p>
                  <p><%= f.text_field :years_of_experience, class: 'text_field' %></p>
                </div>
                <div class='field'>
                  <p class='section_title'><%= f.label :website, "Website" %></p>
                  <p><%= f.text_field :website %></p>
                </div>
                <p class='section_title'>Your skills categories</p>
                <div class="ui divider"></div>
                <div class="preference_check">
                  <%= collection_check_boxes(:user, :category_ids, Category.all, :id, :category) do |c| %>
                     <div class = "individual_checkbox ui checkbox" >
                     <%= c.check_box + c.label %> 
                     </div>
                  <% end %>
                </div>
                <p class='section_title'>Your causes</p>
                <div class="ui divider"></div>
                <div class="preference_check">
                  <%= collection_check_boxes(:user, :cause_ids, Cause.all, :id, :cause) do |c| %>
                     <div class = "individual_checkbox ui checkbox" >
                     <%= c.check_box + c.label %> 
                     </div>
                  <% end %>
                </div>
                <p class='section_title'>Your preferred locations</p>
                <div class="ui divider"></div>
                <div class="preference_check">
                  <%= collection_check_boxes(:user, :location_ids, Location.all, :id, :location) do |c| %>
                     <div class = "individual_checkbox ui checkbox" >
                     <%= c.check_box + c.label %> 
                     </div>
                  <% end %>
                </div>
                <%= f.submit 'Update my information', class: 'submit mini ui givrgreen button' %>
              <% end %>
              <div class="upload_container">
                <%= render partial: 'resume_upload', locals: {user: @user} %>
              </div>
            </div>
          <% elsif @user.role == 'npo' %>
            <div class="ui form segment profile_form">
              <%= form_for @user do |f| %>
                  <div class='field'>
                    <p class='section_title'><%= f.label :email, "Email:" %></p>
                    <p><%= f.text_field :email, class: 'text_field' %></p>
                  </div>                  
                  <div class='field'>
                    <p class='section_title'><%= f.label :org_name, "Organization name:" %></p>
                    <p><%= f.text_field :org_name, class: 'text_field' %></p>
                  </div>
                  <div class='field'>
                    <p class='section_title'><%= f.label :cause_id, "Cause:" %></p>
                    <%= options_from_collection_for_select(Cause.all, :id, :cause) %>
                    <p><%= collection_select(:user, :cause_id, Cause.all, :id, :cause, class: 'drop_down') %></p>
                  </div>        
                  <div class='field'>
                    <p class='section_title'><%= f.label :mission, "Mission:" %></p>
                    <p><%= f.text_area :mission, class: 'text_area' %></p>
                  </div>
                  <div class='field'>
                    <p class='section_title'><%= f.label :description, "What we do:" %></p>
                    <p><%= f.text_area :description, class: 'text_area' %></p>
                  </div>
                  <div class='field'>
                    <p class='section_title'><%= f.label :organization_size, "Number of full-time staff/volunteer:" %></p>
                    <p><%= f.text_field :organization_size, class: 'text_field' %></p>
                  </div>
                  <div class='field'>
                    <p class='section_title'><%= f.label :address, "Address:" %><p>
                    <p><%= f.text_field :address, class: 'text_field' %></p>
                  </div>
                  <div class='field'>
                    <p class='section_title'><%= f.label :city, "City:" %><p>
                    <p><%= f.text_field :city, class: 'text_field' %></p>
                  </div>
                  <div class='field'>
                    <p class='section_title'><%= f.label :postal_code, "Postal code:" %></p>
                    <p><%= f.text_field :postal_code, class: 'text_field' %></p>
                  </div>
                  <div class='field'>
                   <p class='section_title'><%= f.label :contact_first_name, "Contact person first name:" %></p>
                   <p><%= f.text_field :contact_first_name, class: 'text_field' %></p>
                  </div>
                  <div class='field'>
                    <p class='section_title'><%= f.label :contact_last_name, "Contact person last name:" %></p>
                    <p><%= f.text_field :contact_last_name, class: 'text_field' %></p> 
                  </div> 
                  <div class='field'>
                    <p class='section_title'><%= f.label :website, "Website:" %></p>
                    <p><%= f.text_field :website, class: 'text_field' %></p>
                  </div>
                  <div class='field'>
                    <p class='section_title'><%= f.label :phone, "Phone:" %><p>
                    </p><%= f.text_field :phone, class: 'text_field' %></p>
                  </div>
                  <div class='field'>
                    <p class='section_title'><%= f.label :extension, "Extension:" %></p>
                    <p><%= f.text_field :extension, class: 'text_field' %></p>
                  </div>
                  <div class='field'>
                    <p class='section_title'><%= f.label :fax, "Fax:" %></p>
                    <p><%= f.text_field :fax, class: 'text_field' %></p>
                  </div>
                  <p><%= f.submit 'Update my information', class: 'submit mini ui givrgreen button' %></p>
                <% end %>
                <div class="upload_container">
                  <%= render partial: 'logo_upload', locals: {user: @user} %>
                </div>   
            </div>

          <% end %>

        </div>

    </div>
  </div>
  <% end %>
</div>

<div class="edit_info_popup"></div>
<div class="projects_overlay"></div>
<div class="projects_detail"></div>
