
<div>
<p>
    Hi <%= @user.email %>, you are registered as a 

    <% if @user.role == 'npo' %>
    non-profit
    <% elsif @user.role == 'professional' %>
    professional
    <% end %>
    . In this page, you can view your your applications and past projects.

</p>
</div>

<div class="profile_view_nav">
    <ul>
        
        <li>
            <%= link_to user_applications_path(status: 'apply'), class: 'profile_view_button' do %>
            <div id='profile_view_button'>Applications</div>
            <% end %>
        </li>
        <li>
            <%= link_to user_projects_path, class: 'profile_view_button' do %>
            <div id='profile_view_button'>Projects</div>
            <% end %>
        </li>

        <% if @user.role == 'professional' %>
            <li>
                <%= link_to user_applications_path(status: 'shortlist'), class: 'profile_view_button' do %>
                <div id='profile_view_button'>Shortlisted projects</div>
                <% end %>
            </li>

            <li>
                <% if !@user.resume.file.exists? %>
                    <%= form_for @user, url: user_upload_resume_path(userid: @user.id, resume_action: 'upload'), data: {userid: @user.id} , method: 'patch', html: {multipart: true} do |f| %>
                        <%= f.file_field :resume %>
                        <%= f.submit 'Upload resume' %>
                    <% end %>
                <% else %>
                    
                    <p>You have already uploaded your resume:</p>
                    <p><%= link_to 'Download resume', @user.resume_url %>
                    <p><%= link_to 'Remove resume', user_upload_resume_path(userid: @user.id, resume_action: 'remove' ), method: 'patch' %> </p>

                <% end %>
            </li>

        <% end %>

    </ul>

</div>

<div class="profile_view">



</div>