
<div>
<p>
    Hi <%= @user.email %>, you are registered as a 

    <% if @user.role == 'npo' %>
    non-profit
    <% elsif @user.role == 'professional' %>
    professional
    <% end %>
    . In this page, you can view your your applications and past projects.

</p>
</div>

<div class="profile_view_nav">
    <ul>
        
        <li>

            <div class='profile_view_button' id='applications'>Applications</div>

        </li>
        <li>
            <div class='profile_view_button' id='projects'>Projects</div>
            
        </li>

        <% if @user.role == 'professional' %>
            <li>
                
                <div class='profile_view_button' id='shortlist'>Shortlisted projects</div>
                
            </li>

            <li>
                <% if !@user.resume.file.exists? %>
                    <%= form_for @user, url: user_upload_resume_path(resume_action: 'upload'), data: {userid: @user.id} , method: 'patch', html: {multipart: true} do |f| %>
                        <%= f.file_field :resume %>
                        <%= f.submit 'Upload resume' %>
                    <% end %>
                <% else %>
                    
                    <p>You have already uploaded your resume:</p>
                    <p><%= link_to 'Download resume', @user.resume_url %>
                    <p><%= link_to 'Remove resume', user_upload_resume_path(resume_action: 'remove' ), method: 'patch' %> </p>

                <% end %>
            </li>

        <% end %>

    </ul>

</div>

<div class="profile_view">

  <div class="profile_view_content" id='projects'>
      <p>Projects</p>
      <%= render partial: 'projects/project', collection: @projects %>
  </div>

  <div class="profile_view_content" id='applications'>
      <p>Applications</p>
      <%= render partial: 'applications/application', collection: @applications, locals: {role: @role} %>
  </div>

  <div class="profile_view_content" id='shortlist'>
      <p>Shortlist</p>
      <%= render partial: 'applications/application', collection: @shortlists, locals: {role: @role} %>
  </div>

  <div class="profile_view_content" id='settings'>
    <p>Settings</p>
    
    <p>Category</p>
    <%= collection_check_boxes(:user, :category_ids, Category.all, :id, :category) %>
     
    <p>Cause</p>
    <%= collection_check_boxes(:user, :cause_ids, Cause.all, :id, :cause) %>

    <p>Location</p>
    <%= collection_check_boxes(:user, :location_ids, Location.all, :id, :location) %>
  </div>
</div>

    <p>Settings</p>
  
  <%= form_for @user do |f| %>
    <p>Category</p>
    <%= collection_check_boxes(:user, :category_ids, Category.all, :id, :category) %>
     
    <p>Cause</p>
    <%= collection_check_boxes(:user, :cause_ids, Cause.all, :id, :cause) %>

    <p>Location</p>
    <%= collection_check_boxes(:user, :location_ids, Location.all, :id, :location) %>
    <%= f.submit %>
  <% end %>


















