<div class="alt_header">
    <div class="logo">
        <%= image_tag("Logo/Logo_short.png") %>
    </div>

    <div class="nav">

        <ul>

        <li><%= link_to 'HOME', root_path %></li>

        <li><%= link_to 'HOW IT WORKS', root_path %></li>

        <li><%= link_to 'PROJECTS', projects_path %></li>

        <li><%= link_to 'SIGN IN', root_path %></li>
        
        </ul>

    </div>
<!-- 
    <div class="login">
        <ul>

        <li>Sign up</li>

        <li>Log in</li>

        </ul>
    </div> -->

</div>
