<div class="alt_header" id="visible_white">
    <div class="logo">
        <%= link_to image_tag("Logo/Logo_short.png"), root_path %>
    </div>

    <div class="nav">

        <ul>

        <li><%= link_to 'HOME', root_path %></li>

        <li><%= link_to 'HOW IT WORKS', 'tbd' %></li>

        <li><%= link_to 'PROJECTS', projects_path %></li>

        <li><%= link_to 'SIGN IN', 'tbd' %></li>
        
        </ul>

    </div>
<!-- 
    <div class="login">
        <ul>

        <li>Sign up</li>

        <li>Log in</li>

        </ul>
    </div> -->

</div>
