<div class="header" id="visible_blue">
    <div class="logo">
        <%= link_to image_tag("Logo/Logo_full.png"), root_path %>
    </div>

    <div class="nav">

        <ul>

        <li><%= link_to 'HOME', root_path %></li>

        <li><%= link_to 'HOW IT WORKS', 'tbd' %></li>

        <li><%= link_to 'PROJECTS', projects_path %></li>

        <% if current_user %>
            <li><%= link_to 'MY PROFILE', user_path(current_user) %></li>
            <li><%= link_to 'SIGN OUT', session_path('current'), method: 'delete' %></li>
        <% else %>
            <li><%= link_to 'SIGN IN', new_user_path %></li>
        <% end %>

        </ul>

    </div>

<!--     <div class="login">
        <ul>

        <li>Sign up</li>

        <li>Log in</li>

        </ul>
    </div> -->

</div>

<div class="header" id="static">

</div>
