
<!-- <script type="text/javascript" src="scroll.js"></script> -->

<!-- render 'shared/header' -->
<!-- render 'shared/alt_header' -->

<div class="landing_section_nav">
    <div class="section_nav_button clicked_alt" data-scrollto = "#who_are_we"><p>Introduction</p></div>
    <div class="section_nav_button" data-scrollto = "#professionals"><p class='hidden'>How it works: Professionals</p></div>
    <div class="section_nav_button" data-scrollto = "#nonprofits"><p class='hidden'>How it works: Non-profits</p></div>
    <div class="section_nav_button" data-scrollto = "#categories"><p class='hidden'>Sample Project Categories</p></div>
    <div class="section_nav_button" data-scrollto = "#faq"><p class='hidden'>FAQ</p></div>
    <div class="section_nav_button" data-scrollto = ".join"><p class='hidden'>Get started</p></div>
</div>
<div class="logo">
    <%= image_tag 'logo_white.png' %>
</div>
<div class="intro" id="who_are_we">

    <div class="headline">
        <h2>Give back to your community</h2>
    </div>
    <div class="subtitle">
        <p>Givingly connects professionals and not-for-profit organizations<br>with each other through skill-based volunteer projects.</p>
        <p class='tag'>Currently serving the Greater Toronto Area</p>
    </div>
    <div class="button_container_invite">
        <div class="get_invite" data-scrollto = ".join">Get started</div>
    </div>
    
    <div class="divider_container">
        How it works
    </div>
    <div class="button_container">
        <div class="pro_summ_button" data-scrollto = "#professionals">Professionals</div>
        <div class="npo_summ_button" data-scrollto = "#nonprofits">Not-for-profits</div>
        <div class="faq_button" data-scrollto = "#faq">FAQ</div>
    </div>


</div>
<div class="front_page_background"></div>

<div class="font_page_content">
    <div class="divider"></div>
    <div class="intro" id="professionals">
        <div>
            <h2>How it works: Professionals</h2>
            <p>You have the skills and experience that your community needs. Why not use them to make a difference? We help you find the perfect project.</p>
            <p class='link_to_categories' data-scrollto = "#categories">What skills are we looking for?</p>
        </div>
            <div class='how_it_works'>
                <div class="step">
                    <div class="graphics"><%= image_tag 'monitor.png', class: 'icongraphic' %></div>
                    <div class="number">Browse</div>
                    <div class="text">View projects on Givingly's marketplace; filter by skill, cause and location</div>
                </div>
                <div class="step">
                    <div class="graphics"><%= image_tag 'id.png', class: 'icongraphic' %></div>
                    <div class="number">Apply</div>
                    <div class="text">Submit your resume to interesting projects</div>
                </div>
                <div class="step">
                    <div class="graphics"><%= image_tag 'comments.png', class: 'icongraphic' %></div>
                    <div class="number">Chat</div>
                    <div class="text">Connect with non-profits to find out more about the projects you applied to</div>
                </div>
                <div class="step">
                    <div class="graphics"><%= image_tag 'suitcase.png', class: 'icongraphic' %></div>
                    <div class="number">Start</div>
                    <div class="text">Feel awesome about yourself! Your hours will be recorded and we are working to bring you great rewards</div>
                </div>
            </div>
        <div class="button_container">
            <div class="get_invite" data-scrollto = ".join">Get started</div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="intro" id="nonprofits">
        <div>
            <h2>How it works: Non-profit organizations</h2>
            <p>You are passionate about your cause and you are good at what you do. We help you find talented professionals to take your organization to the next level.</p>
        </div>
        <p class='link_to_categories' data-scrollto = "#categories">What kind of projects?</p>
        <div class='how_it_works'>
            <div class="step">
                <div class="graphics"><%= image_tag 'search.png', class: 'icongraphic' %></div>
                <div class="number">Identify</div>
                <div class="text">Brainstorm a project or few projects that your organization needs help with</div>
            </div>
            <div class="step">
                <div class="graphics"><%= image_tag 'flipchart.png', class: 'icongraphic' %></div>
                <div class="number">Post</div>
                <div class="text">Put your projects up on Givingly so everyone can see them</div>
            </div>
            <div class="step">
                <div class="graphics"><%= image_tag 'comments.png', class: 'icongraphic' %></div>
                <div class="number">Chat</div>
                <div class="text">Connect with your applicants to find out more about them</div>
            </div>
            <div class="step">
                <div class="graphics"><%= image_tag 'graph.png', class: 'icongraphic' %></div>
                <div class="number">Start</div>
                <div class="text">Start the projects and take your organization to the next level!
                </div>
            </div>
        </div>
        <div class="button_container">
            <div class="get_invite" data-scrollto = ".join">Get started</div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="intro" id="categories">
        <div>
            <h2>Project categories</h2>
            <p>We welcome a diverse range of talents - here are just a few examples. Tell us what you're awesome at and we'll find something for you.</p>
        </div>
        <div class='how_it_works'>
            <div class="step">
                <div class="graphics"><%= fa_icon 'picture-o', class: 'icongraphic' %></div>
                <div class="number">Design</div>
                <div class="text">
                    <ul>
                        <li>Logo design</li>
                        <li>Info graphics</li>
                        <li>Brochure design</li>
                        <li>Business card design</li>
                    </ul>
                </div>
            </div>
            <div class="step">
                <div class="graphics"><%= fa_icon 'laptop', class: 'icongraphic' %></div>
                <div class="number">Web</div>
                <div class="text">
                    <ul>
                        <li>Web development</li>
                        <li>Web design</li>
                        <li>Search engine optimization</li>
                        <li>Social media strategy</li>
                    </ul>
                </div>
            </div>
            <div class="step">
                <div class="graphics"><%= fa_icon 'money', class: 'icongraphic' %></div>
                <div class="number">Funding</div>
                <div class="text">
                    <ul>
                        <li>Fundraising strategy</li>
                        <li>Self-generated revenue</li>
                        <li>Pricing strategy</li>
                        <li>Donor relations</li>
                    </ul>
                </div>
            </div>
            <div class="step">
                <div class="graphics"><%= fa_icon 'bar-chart-o', class: 'icongraphic' %></div>
                <div class="number">Marketing</div>
                <div class="text">
                    <ul>
                        <li>Marketing plan</li>
                        <li>Brand messaging</li>
                        <li>Advertising campaign</li>
                        <li>Membership strategy</li>
                    </ul>
                </div>
            </div>
            <div class="step">
                <div class="graphics"><%= fa_icon 'plus', class: 'icongraphic' %></div>
                <div class="number">More</div>
                <div class="text">
                    <ul>
                        <li>Account system design</li>
                        <li>Customer database design</li>
                        <li>Business process redesign</li>
                        <li>...and more</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="button_container">
            <div class="get_invite" data-scrollto = ".join">Get started</div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="intro" id="faq">
        <div>
            <h2>Frequently asked questions</h2>
        </div>
        <div class="q">
            <p class="question">Is Givingly a non-profit organization?</p>
            <p class="answer">Yes - Givingly is a non-profit organization based in Toronto. Our mission is to connect non-profit organizations and charities who need help in solving a problem, with professionals who have the right skills.</p>
        </div>
        <div class="q">
            <p class="question">Why should I volunteer?</p>
            <p class="answer">If you are a professional, your expertise and experiences are highly sought after by the non-profit organizations serving our community. It is rewarding to make a difference with something you do so well, in our opinion! Also, volunteering is a great way to build your network and add projects to your resume and portfolio.</p>
        </div>
        <div class="q">
            <p class="question">What's the commitment level to volunteer?</p>
            <p class="answer">Everything posted on our marketplace is a project - we ensure that they have clear goals and deliverables, and that they are not open-ended volunteer positions. Because of this, the commitment level will vary by project, but they are very transparent, and you have control over them.</p>
        </div>
        <div class="q">
            <p class="question">Do I get recognized for volunteering?</p>
            <p class="answer">Yes - Givingly keeps track of all the projects you have volunteered on along with the hours you spent volunteering, which we will make available to you in your profile. We are working on ways and partnering with organizations to let you redeem those hours for rewarding experiences.</p>
        </div>
        <div class="q">
            <p class="question">How are the projects vetted?</p>
            <p class="answer">Before any project is posted on Givingly, we work extensively with the non-profit organization to scope and structure the project. This is to make sure that the project creates lasting impact for the organization and is meaningful for the volunteers. This takes time, but we do this to ensure a great experience for both our non-profits and the professionals.</p>
        </div>
        <div class="q">
            <p class="question">Does it cost money?</p>
            <p class="answer">For professionals, Givingly is completely free. For non-profit organizations, posting your project is completely free and we only charge a fee when you have found a professional. This fee is used to pay for the cost of providing the platform.</p>
        </div>
        <div class="q">
            <p class="question">How do I get involved?</p>
            <p class="answer">Givingy is currently in beta - meaning that we are testing our platform with a small group of users to ensure that the it is easy to use. If you are interested in joining, please leave your email in the form below, and we will send you an invite as soon as we can!</p>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="join">
        <h2>Can't wait to get started?</h2>
        <p>Givingly is currently in private beta. Leave your email and we'll send you an invite soon! We promise we won't share your info with anyone or spam your inbox.</p>
        <div class="ui form segment">
            <div class="mand"><%= fa_icon 'asterisk' %>Indicates required fields</div>
            <%= form_tag subscribe_path(@list_id), method: 'POST', class: "subscription_form" do %>
            <div class="field">
                <%= label_tag 'email' do %>
                Email<%= fa_icon 'asterisk' %>
                <% end %>
                <%= text_field_tag 'email',nil, maxlength:'250' %>
            </div>        
            <div class="i_am_a grouped inline fields">
                I am a<%= fa_icon 'asterisk' %>
                <div class="field">
                    <div class="ui radio checkbox">

                        <%= radio_button_tag :role, 'professional' %>
                        <%= label_tag :role_professional, 'Professional' %>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <%= radio_button_tag :role, 'npo' %>
                        <%= label_tag :role_npo, 'Non-Profit Organization' %>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <%= radio_button_tag :role, 'business' %>
                        <%= label_tag :role_business, 'Business' %>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <%= radio_button_tag :role, 'other' %>
                        <%= label_tag :role_other, 'Other' %>
                    </div>
                </div>
            </div>
            <div class="field category_input hidden">
                <%= label_tag 'category', "My skills / We'd like help with" %>
                <%= text_field_tag 'category',nil, maxlength:'250' %>
            </div>

            <div class="grouped inline fields hidden">
                How did you hear about us?
                <div class="field">
                    <div class="ui radio checkbox">

                        <%= radio_button_tag :source, 'search' %>
                        <%= label_tag :source_search, 'Web search (e.g. Google search)' %>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <%= radio_button_tag :source, 'google_ad' %>
                        <%= label_tag :source_googlead, 'Ad on Google' %>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <%= radio_button_tag :source, 'linkedin' %>
                        <%= label_tag :source_linkedin, 'Ad on LinkedIn' %>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <%= radio_button_tag :source, 'facebook' %>
                        <%= label_tag :source_facebook, 'Ad on Facebook' %>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <%= radio_button_tag :source, 'blog' %>
                        <%= label_tag :source_blog, 'Ad on a blog' %>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <%= radio_button_tag :source, 'word_of_mouth' %>
                        <%= label_tag :source_wordofmouth, 'Word of mouth' %>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <%= radio_button_tag :source, 'other' %>
                        <%= label_tag :source_other, 'Other' %>
                    </div>
                </div>
            </div>
            <div class="field hidden">
                <%= label_tag 'notes', "Suggestions / Feedback / Anything else? (250 characters)" %>
                <%= text_area_tag 'notes',nil, maxlength:'250' %>
            </div>
            <div class="ui disabled button subscribe">Submit</div>
            <p class="form_text hidden">Please check your inbox in a few minutes for an email from us. We need to confirm your permission to save your email.</p>
            <p class="form_text hidden">You can also contact us at <a href="mailto:info@givingly.me?Subject=Inquiry%20from%20givingly.me" target="_top">info@givingly.me</a></p>
            <% end %>
        </div> 
    </div>
</div>
<div class="footer">
    <div class="copyright">
        ©2014 givingly.me All Rights Reserved
    </div>    
</div>
<div class="projects_overlay_transparent hidden"></div>