<div class="projects_search">

  <div class="search_bar_header">Filter for projects</div>
  <div class="search_bar ui fluid vertical menu">
    <div class='li item active'>
        <div class="clickable" id="category_search">
          By skill category<%= fa_icon 'minus-square-o', class: 'icon_right' %>
        </div>
          <div class="lis" id="show_by_default">
            
            <% @categories.each do |category| %>
            
              <% if current_user %>
                <% if current_user.role == 'professional' %>
                  <% if @user_categories.include?(category.id) %>
                      <% filter_option = "filter_on" %>
                      <% data_on_option = 1 %>
                  <% else %>
                    <% filter_option = "" %>
                    <% data_on_option = 0 %>
                  <% end %>
                <% elsif current_user.role == 'npo' %>
                  <% filter_option = "filter_on" %>
                  <% data_on_option = 1 %>    
                <% end %>
              <% else %>
                  <% filter_option = "filter_on" %>
                  <% data_on_option = 1 %>
              <% end %>

              <div class="filter_value ui large checkbox">
              <%= check_box_tag 'category'+category.id.to_s, category.category, data_on_option == 1, class: 'filter_button', data: { filterid: category.id, filtertype: 'category', on: data_on_option}, href: filter_projects_path %>
              <%= label_tag  'category'+category.id.to_s do%>
                <div class="label"><span><%= category.category %></span></div>
              <% end %>
              </div>
            <% end %>

          </div>
    </div>
    
    <div class='li item'>
        <div class="clickable" id="cause_search">By cause<%= fa_icon 'plus-square-o', class: 'icon_right' %></div>
        <div class="lis">
          <% @causes.each do |cause| %>
          
            <% if current_user %>
              <% if current_user.role == 'professional' %>
                <% if @user_causes.include?(cause.id) %>
                  <% filter_option = "filter_on" %>
                  <% data_on_option = 1 %>  
                <% else %>
                  <% filter_option = "" %>
                  <% data_on_option = 0 %>
                <% end %>
              <% elsif current_user.role == 'npo' %>
                <% filter_option = "filter_on" %>
                <% data_on_option = 1 %>  
              <% end %>
            <% else %>
                <% filter_option = "filter_on" %>
                <% data_on_option = 1 %>
            <% end %>

            <div class="filter_value ui large checkbox">
            <%= check_box_tag 'cause'+cause.id.to_s, cause.cause, data_on_option == 1, class: 'filter_button', data: { filterid: cause.id, filtertype: 'cause', on: data_on_option}, href: filter_projects_path %>
            <%= label_tag  'cause'+cause.id.to_s do%>
              <div class="label"><span><%= cause.cause %></span></div>
            <% end %>
            </div>
          <% end %>
        </div>
    </div>

    <div class='li item'>        
        <div class="clickable" id="location_search">By location<%= fa_icon 'plus-square-o', class: 'icon_right' %></div>
        <div class="lis">

          <% @locations.each do |location| %>

            <% if current_user %>
              <% if current_user.role == 'professional' %>
                <% if @user_locations.include?(location.id) %>
                  <% filter_option = "filter_on" %>
                  <% data_on_option = 1 %>
                <% else %>
                  <% filter_option = "" %>
                  <% data_on_option = 0 %>
                <% end %>
              <% elsif current_user.role == 'npo' %>
                <% filter_option = "filter_on" %>
                <% data_on_option = 1 %>  
              <% end %>
            <% else %>
                <% filter_option = "filter_on" %>
                <% data_on_option = 1 %>
            <% end %>

            <div class="filter_value ui large checkbox">
            <%= check_box_tag 'location'+location.id.to_s, location.location, data_on_option == 1, class: 'filter_button', data: { filterid: location.id, filtertype: 'location', on: data_on_option}, href: filter_projects_path %>
            <%= label_tag  'location'+location.id.to_s do%>
              <div class="label"><span><%= location.location %></span></div>
            <% end %>
            </div>
          <% end %>

        </div>
    </div>
  </div>
</div>
