<div class="projects_search">
<div class="fb-like project" data-href="<%= projects_url %>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
<div class="li-share project">
  <script src="//platform.linkedin.com/in.js" type="text/javascript">
  lang: en_US
  </script>
  <script type="IN/Share" data-url="<%= projects_url %>" data-counter="right"></script>
</div>
  <div class="search_bar ui fluid vertical menu">
    <div class="header item">
      Filter for projects
      <%= fa_icon 'search', class: 'icon_right' %>
      <% if !logged_in? %>
        <%= link_to user_profile_path+"#_add-new" do %><span class="marketplace_link_to_post_project"><%= fa_icon 'plus' %> Submit a project </span><% end %>
      <% else %>
        <% if current_user.is? 'npo' %>
          <%= link_to user_profile_path+"#_add-new" do %><span class="marketplace_link_to_post_project"><%= fa_icon 'plus' %> Submit a project </span><% end %>
        <% end %>
      <% end %>
    </div>
    <div class='li item active'>
        <div class="clickable" id="category_search">
          By skill category<%= fa_icon 'minus-square-o', class: 'icon_right' %>
        </div>
          <div class="lis" id="show_by_default">
            
            <% @categories.each do |category| %>
            
              <% if current_user %>
                <% if current_user.role == 'professional' %>
                  <% if @user_categories.include?(category.id) %>
                      <% filter_option = "filter_on" %>
                      <% data_on_option = 1 %>
                  <% else %>
                    <% filter_option = "" %>
                    <% data_on_option = 0 %>
                  <% end %>
                <% elsif current_user.role == 'npo' %>
                  <% filter_option = "filter_on" %>
                  <% data_on_option = 1 %>    
                <% end %>
              <% else %>
                  <% filter_option = "filter_on" %>
                  <% data_on_option = 1 %>
              <% end %>

              <div class="filter_value ui checkbox">
                <%= check_box_tag 'category'+category.id.to_s, category.category, data_on_option == 1, class: 'filter_button', data: { filterid: category.id, filtertype: 'category', on: data_on_option}, href: filter_projects_path %>
                <%= label_tag  'category'+category.id.to_s do%>
                  <div class="label"><span><%= category.category %>
                  <%= fa_icon 'circle-o-notch', class: 'icon_right filter_checkbox spinner hidden' %>
                  </span>
                  </div>
                <% end %>
              </div>
            <% end %>

          </div>
    </div>
    
    <div class='li item'>
        <div class="clickable" id="cause_search">By cause<%= fa_icon 'plus-square-o', class: 'icon_right' %></div>
        <div class="lis">
          <% @causes.each do |cause| %>
          
            <% if current_user %>
              <% if current_user.role == 'professional' %>
                <% if @user_causes.include?(cause.id) %>
                  <% filter_option = "filter_on" %>
                  <% data_on_option = 1 %>  
                <% else %>
                  <% filter_option = "" %>
                  <% data_on_option = 0 %>
                <% end %>
              <% elsif current_user.role == 'npo' %>
                <% filter_option = "filter_on" %>
                <% data_on_option = 1 %>  
              <% end %>
            <% else %>
                <% filter_option = "filter_on" %>
                <% data_on_option = 1 %>
            <% end %>

            <div class="filter_value ui checkbox">
            <%= check_box_tag 'cause'+cause.id.to_s, cause.cause, data_on_option == 1, class: 'filter_button', data: { filterid: cause.id, filtertype: 'cause', on: data_on_option}, href: filter_projects_path %>
            <%= label_tag  'cause'+cause.id.to_s do%>
              <div class="label"><span><%= cause.cause %>
                  <%= fa_icon 'circle-o-notch', class: 'icon_right filter_checkbox spinner hidden' %>
              </span></div>
            <% end %>
            </div>
          <% end %>
        </div>
    </div>

    <div class='li item'>        
        <div class="clickable" id="location_search">By location<%= fa_icon 'plus-square-o', class: 'icon_right' %></div>
        <div class="lis">

          <% @locations.each do |location| %>

            <% if current_user %>
              <% if current_user.role == 'professional' %>
                <% if @user_locations.include?(location.id) %>
                  <% filter_option = "filter_on" %>
                  <% data_on_option = 1 %>
                <% else %>
                  <% filter_option = "" %>
                  <% data_on_option = 0 %>
                <% end %>
              <% elsif current_user.role == 'npo' %>
                <% filter_option = "filter_on" %>
                <% data_on_option = 1 %>  
              <% end %>
            <% else %>
                <% filter_option = "filter_on" %>
                <% data_on_option = 1 %>
            <% end %>

            <div class="filter_value ui checkbox">
            <%= check_box_tag 'location'+location.id.to_s, location.location, data_on_option == 1, class: 'filter_button', data: { filterid: location.id, filtertype: 'location', on: data_on_option}, href: filter_projects_path %>
            <%= label_tag  'location'+location.id.to_s do%>
              <div class="label"><span><%= location.location %>
                  <%= fa_icon 'circle-o-notch', class: 'icon_right filter_checkbox spinner hidden' %>
              </span></div>
            <% end %>
            </div>
          <% end %>

        </div>
    </div>
  </div>
</div>
