<div class='error_messages'>
</div>

<%= form_for @project, :remote => true do |f| %>


  <div class="field">
    <%= f.label :title, 'Project name' %>
    <br>
    <%= f.text_field :title %>
  </div>
  
  <div class="fields">
    <%= f.label :description, 'Project description' %>
    <br>
    <%= f.text_area :description %>
  </div>

  <div class="fields">
    <%= f.label :number_of_positions, 'Number of positions' %>
    <br>
    <%= f.text_field :number_of_positions %>
  </div>

  <div class="fields">
    <%= f.label :category, "Category" %>
    <%= options_from_collection_for_select(Category.all, :id, :category) %>
    <%= collection_select(:project, :category_id, Category.all, :id, :category) %>
    
    <%= f.label :location, "Location" %>
    <%= options_from_collection_for_select(Location.all, :id, :location) %>
    <%= collection_select(:project, :location_id, Location.all, :id, :location) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>