<% if current_user %>
  <% @already_applied = Application.where("status not like 'shortlist' AND project_id = ? and user_id = ?",project.id,current_user.id).take %>
  <% @already_shortlisted = Application.where("status like 'shortlist' AND project_id = ? and user_id = ?",project.id,current_user.id).take %>
<% end %>

<% @available_positions = [(project.number_of_positions - project.applications.where("status in ('engage','complete')").length),0].max %>

<div class="project_popup" data-projectid="<%= project.id %>">
    <span id='view_closed' data-viewpath='<%= j project_view_path(@view)%>' style="display:inline-block; width: 1px; height: 1px;"></span>
    <div class="project_card_in_popup" data-shown=1 data-loggedin="<%= current_user ? 1 : 0 %>" data-applied="<%= @already_applied %>" data-shortlisted="<%= @already_shortlisted %>">
      <div class="project_header">
          <h1><%= project.title %> for <span class='link_to_profile'><%= link_to project.user.org_name, organization_profile_path(project.user.id) %></span></h1>
      </div>
    
      <div class="ui divider"></div>
      <div class="project_details">
        <h3>Project details</h3>
        <p>
          <%= project.description %>
        </p>
        <br>
        <h3>Why We Need This</h3>
        <p>
          <%= project.why_we_need_this %>
        </p> 
        <br>       
        <h3>Deliverables</h3>
        <p>
          <%= project.deliverable %>
        </p>
        <br>
        <h3>Requirements</h3>
        <p>
          <%= project.requirements %>
        </p>
        <br>
        <% if !project.perks.blank? %>
        <h3>Perks</h3>
        <p>
          <%= project.perks %>
        </p>
        <br>        
        <% end %>

        <h3>Number of positions</h3>
        <p>
          <%= project.number_of_positions %> (<%= @available_positions %> still available)
        </p>
        <br>
        <h3>Skill category</h3>
        <p>
          <%= project.category.category %>
        </p>
        <br>
        <h3>Cause</h3>
        <p>
          <%= project.cause.cause %>
        </p>
        <br>
        <h3>Location</h3>
        <p>
          Location: <%= project.location.location %>
        </p>
      </div>
      <% if current_user %> 
        <% if current_user.role == 'professional' %>
          <div class="<%= "load_application" unless @already_applied %> ui <%= "disabled" if @already_applied %> tiny givrgreen button"><%= if @already_applied; "Applied" else "Apply" end %></div>
        <% end %> 
      <% else %>
        <div class="ui tiny disabled button">Log in to apply</div>
      <% end %>
      <% if current_user %> 
        <% if current_user.role == 'professional' %>
          <% if @already_shortlisted %>
            <div class="ui tiny disabled button">Shortlisted</div>
          <% elsif @already_applied %>
            <div class="ui tiny disabled button">Shortlist</div>
          <% else %>
            <div class="do_project ui tiny blue button" href="<%= project_applications_path(@project, todo: 'shortlist') %>" data-method="POST">Shortlist</div>
          <% end %>
        <% end %>
      <% else %> 
        <div class="ui tiny disabled button">Log in to shortlist</div>
      <% end %>
      <div id="close_project">
        <%= fa_icon 'times' %>
      </div>      
      <div class='fb-like' data-href='<%= @project %>' data-width='50' data-layout='button_count' data-action='like' data-show-faces='false' data-share='false'>
      </div>
    </div>
    <div class="proto_form">
      <div class="project_header">
          <h1><%= project.title %> for <span class='link_to_profile'><%= link_to project.user.org_name, organization_profile_path(project.user.id) %></span></h1>
      </div>
      <div class="ui form">
      <p class="section_title">Add a message</p>
      <%= form_tag do %>
        <div class="field">
          <%= text_area_tag 'message', nil, placeholder: 'Put a blurb here on why you want to apply to the project.' %>
        </div>
      <% end %>
      </div>
      <% if current_user %>
        <% if current_user.resume_quick_look.nil? %>
          <div class="upload_container">
            <%= render partial: 'users/resume_upload', locals: {user: @user=current_user} %>
          </div>
        <% end %>
      <% end %>
      <div class="<%= "do_project" unless @already_applied || (if current_user; current_user.resume_quick_look.nil? end) %> ui <%= "disabled" if @already_applied || (if current_user; current_user.resume_quick_look.nil? end) %> tiny givrgreen button" id="application_submit" href="<%= @already_shortlisted ? applicant_update_path(@already_shortlisted.project, @already_shortlisted, todo: 'apply') : project_applications_path(@project, todo: 'apply') %>" data-method="<%= @already_shortlisted ? "PUT" : "POST" %>">Submit</div>
      <div class="load_application ui tiny black button">
        <%= fa_icon 'arrow-left' %> Back
      </div>
    </div>
  </div>