<div class="ui form segment profile_form" id="slimScroll_view_project_no_buttons">
  <h2>Project details</h2>
  <div class="ui divider"></div>
  <div id="close_project">
    <%= fa_icon 'times' %>
  </div> 
  <div class="field">
    <p class='section_title'>Project name</p>
    <div class="ui label"><%= @project.title %></div>
  </div>
  <div class="field">
    <p class='section_title'>Organization</p>
    <div class="ui label"><%= link_to @project.user.org_name, organization_profile_path(@project.user.id) %></div>
  </div>
  <div class="field">
    <p class='section_title'>Project description</p>
    <div class="ui label"><%= @project.description %></div>
  </div>
  <div class="field">
    <p class='section_title'>Why we need this project</p>
    <div class="ui label"><%= @project.why_we_need_this %></div>
  </div>
  <div class="field">
    <p class='section_title'>Deliverable</p>
    <div class="ui label"><%= @project.deliverable %></div>
  </div>
  <div class="field">
    <p class='section_title'>When we'd like to have the deliverable</p>
    <div class="ui label"><%= @project.required_date.strftime('%Y-%m-%d') if @project.required_date %></div>
  </div>
  <div class="field">
    <p class='section_title'>Day-to-day manager</p>
    <div class="ui label"><%= @project.overseer %></div>
  </div>
  <% if @project.requirements %>
  <div class="field">
    <p class='section_title'>Requirements for volunteers</p>
    <div class="ui label"><%= @project.requirements %></div>
  </div>
  <% end %>
  <% if @project.perks %>
  <div class="field">
    <p class='section_title'>Perks</p>
    <div class="ui label"><%= @project.perks %></div>
  </div>
  <% end %>
</div>