<% @available_positions = [(project.number_of_positions - project.applications.where("status in ('engage','complete')").length),0].max %>
<% if loc == 'index' %>
  <% @link = project_path(project) %>
  <% @class = 'project_link' %>
<% elsif loc == 'project' %>
  <% @link = edit_project_path(project) %>
  <% @class = 'admin_edit no_reload replace_upon_update' %>
<% elsif loc == 'shortlist' %>
  <% @link = project_path(project) %>
  <% @class = 'project_link shortlist' %>
<% end %>

<%= link_to @link, class: @class, data: {projectid: project.id} do %>
  <div class="project_popup" data-projectid="<%= project.id %>" >
    <div class="project_card">
      <% if (Time.now - project.created_at).to_i/(24*60*60) <= 3 %>
        <div class="ui left red corner label">
            <div class="text">New</div>
        </div>
      <% end %>
      <div class="category_wrapper">
        <div class="category">
            <%= project.category.category %>
        </div>
      </div>
      <div class="logo_name_wrapper">
        <div class="organization_logo">
          <% if !project.user.logo.file.nil? %>
            <% if project.user.logo.file.exists? %>
              <%= image_tag project.user.logo_url(:thumb), class: 'logo' %>
            <% end %>
          <% end %>
        </div>
        <div class="organization_name">
            <p><%= project.user.org_name %></p>
        </div>
      </div>
      <div class="project_header">
            <h1>
              <%= project.title %>
            </h1>
      </div>
      <div class="project_deets">
        <div class="num_pos">
            Available positions: 
            <div class="ui <%= @available_positions > 1 ? '': 'red' %> label"><%= @available_positions %>
            </div> 
        </div>
        <div class="date_created">
          Posted on: 
          <div class="ui label">
            <%= project.created_at.strftime('%Y-%m-%d') %>
          </div>
        </div>
        <div class="cause">
            Cause:
            <div class="ui label"><%= project.cause.cause %></div> 
        </div>
        <div class="location">
            Location:
            <div class="ui label"><%= project.location.location %></div> 
        </div>
      </div>
    </div>
  </div>
<% end %>