<% if loc == 'index' %>
  <% @link = project_path(project) %>
  <% @class = 'project_link' %>
<% elsif loc == 'project' %>
  <% @link = edit_project_path(project) %>
  <% @class = 'admin_edit no_reload replace_upon_update' %>
<% elsif loc == 'shortlist' %>
  <% @link = project_path(project) %>
  <% @class = 'project_link shortlist' %>
<% end %>

<%= link_to @link, class: @class, data: {projectid: project.id} do %>
  <div class="project_popup" data-projectid="<%= project.id %>" >
    <div class="project_card">
      <% if (Time.now - project.created_at).to_i/(24*60*60) <= 3 %>
        <div class="ui left red corner label">
            <div class="text">New</div>
        </div>
      <% end %>
      <div class="category_wrapper">
        <div class="category">
            <%= project.category.category %>
        </div>
      <% if loc == 'shortlist' %>
        <div >
          <%= fa_icon 'times', class: "close_project admin_delete no_reload application", href: project_application_path(project,project.applications.where(user_id: current_user.id).take) %>
        </div> 
      <% end %>   
      </div>
      <div class="project_header">
            <h1>
              <%= project.title %>  for <%= if project.hide_name == "1"; "#{if ["a","e","i","o","u"].include? project.cause.cause[0].downcase; 'an' else 'a' end} #{project.cause.cause.downcase} organization" else project.user.org_name end %>
            </h1>
      <div class="ui divider"></div>
      </div>
      <div class="project_deets">
        <div class="date_created">
          Posted on:
          <div class="ui label">
            <%= project.created_at.strftime('%Y-%m-%d') %>
          </div>
        </div>
        <div class="cause">
            Cause:
            <div class="ui label"><%= project.cause.cause %></div> 
        </div>
        <div class="location">
            Location:
            <div class="ui label"><%= project.location.location %></div> 
        </div>
        <% if loc == 'project' %>
        <div class="status">
            Status:
            <div class="ui label"><%= project.status %></div> 
        </div>
        <div class="views">
            Views:
            <div class="ui label"><%= project.views.length %></div> 
        </div>   
        <% elsif loc == 'index' || loc == 'shortlist' %>   
        <div class="description">
          Description: <br><br>
          <div class="ui label"><%= project.description.first(100)+"..." %></div> 
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>