<%= link_to project_path(project.id), class:"project_link" do %>
  <div class="project_popup" data-projectid="<%= project.id %>" >
    <div class="project_card">
      
      <div class="project_header">
          <h1>
            <%= project.title %>
          </h1>
      </div>
        <br>
      <div class="project_details">
        <h3>Project details</h3>
          <br>
   
        <p>
          <%= project.description %>
        </p>
          <br>
   
        <p>
          Category: <%= project.category.category %>
        </p>

        <p>
          Cause: <%= project.cause.cause %>
        </p>

        <p>
          Location: <%= project.location.location %>
        </p>
          <br>

        <h2>Length: 4 weeks</h2>
 
      </div>
    </div>
  </div>
<% end %>