<%= render 'shared/alt_header' %>
<%= render 'shared/alt_static' %>

<%= render 'projects/default_side_bar' %>

<div class="projects_show">
  <%= render @projects %>
</div>

<div class="projects_overlay"></div>
<div class="projects_overlay_transparent hidden"></div>
<div class="projects_detail"></div>
<div class="ui dimmer page">
  <div class="ui basic modal transition">
      <div class="content">
        <div class="message"></div>
        <div class="button_container">
          <div class="ui green button">Okay</div>
        </div>
      </div>
  </div>
</div>  

<div class="pagination_wrapper"><%= paginate @projects %></div>