<% content_for :og_title, "Givingly: skill-based volunteering in Toronto" %>
<% content_for :og_description, "Marketplace for skill-based volunteer projects in Toronto. We welcome not-for-profit and charities to post volunteer projects that enhance their organizational capabilities." %>
<% content_for :og_url, projects_url %>
<% content_for :og_image, "https://s3.amazonaws.com/givr-app/assets/givingly_nosplash_reduced.png" %>
<% content_for :og_appid, ENV['FACEBOOK_APP_ID'] %>

<%= render 'shared/alt_header' %>
<%= render 'shared/alt_static' %>

<div class="background_div index">
  <%= render 'projects/default_side_bar' %>
  <div class="projects_show">
    <%= render partial: 'projects/project', collection: @projects, locals: {loc: 'index'} %>
  </div>
  

  <div class="projects_overlay"></div>
  <div class="projects_overlay_transparent hidden"></div>
  <div class="projects_detail"></div>

  <div class="pagination_wrapper"><%= paginate @projects %></div>
</div>