<%= render 'shared/alt_header' %>
<%= render 'shared/alt_static' %>

<div class="projects_search">

  <ul class="search_bar">FIND A PROJECT

    <li>
      <div class="clickable clickable_clicked" id="add-new"><%= link_to "Add New", '/projects/new' %></div>
    </li>

    <li>
      <ul>
        <div class="clickable clickable_clicked" id="category_search">CATEGORY</div>
        <div class="lis" id="show_by_default">
          
          <% @categories.each do |category| %>
          
            <% if current_user %>

              <% if current_user.categories.include?(category) %>
                <% filter_option = "filter_on" %>
                <% data_on_option = 1 %>
              <% else %>
                <% filter_option = "" %>
                <% data_on_option = 0 %>
              <% end %>

            <% else %>
                <% filter_option = "filter_on" %>
                <% data_on_option = 1 %>
            <% end %>

            <%= link_to filter_projects_path do %>
              <li class="filter_button <%= filter_option %>" data-filterid=<%= category.id %> data-filtertype ="category" data-on=<%= data_on_option %>><%= category.category %></li>
            <% end %>
          <% end %>

        </div>
      </ul>
    </li>
    
    <li>
      <ul>
        <div class="clickable" id="cause_search">CAUSE</div>
        <div class="lis">
          <% @causes.each do |cause| %>
          
            <% if current_user %>

              <% if current_user.causes.include?(cause) %>
                <% filter_option = "filter_on" %>
                <% data_on_option = 1 %>
              <% else %>
                <% filter_option = "" %>
                <% data_on_option = 0 %>
              <% end %>

            <% else %>
                <% filter_option = "filter_on" %>
                <% data_on_option = 1 %>
            <% end %>

            <%= link_to filter_projects_path do %>
              <li class="filter_button <%= filter_option %>" data-filterid=<%= cause.id %> data-filtertype = "cause" data-on=<%= data_on_option %>><%= cause.cause %></li>
            <% end %>
          <% end %>
        </div>
      </ul>
    </li>

    <li>        
      <ul>
        <div class="clickable" id="location_search">LOCATION</div>
        <div class="lis">

          <% @locations.each do |location| %>

            <% if current_user %>

              <% if current_user.locations.include?(location) %>
                <% filter_option = "filter_on" %>
                <% data_on_option = 1 %>
              <% else %>
                <% filter_option = "" %>
                <% data_on_option = 0 %>
              <% end %>

            <% else %>
                <% filter_option = "filter_on" %>
                <% data_on_option = 1 %>
            <% end %>

            <%= link_to filter_projects_path do %>
              <li class="filter_button <%= filter_option %>" data-filterid=<%= location.id %> data-filtertype = "location" data-on=<%= data_on_option %> ><%= location.location %></li>
            <% end %>
          <% end %>

        </div>
      </ul>
    </li>
  </ul>
</div>

<div class="projects_show">
  <%= render @projects %>
</div>

<div class="projects_detail">
  <a class="project" id="close_project">Close</a>
</div>

<div class="pagination_wrapper"><%= paginate @projects %></div>