<div class="ui form segment profile_form">
<%= form_for @category, :remote => true do |f| %>
  <div class="field">
    <p class='section_title'><%= f.label :category, 'Category name' %></p>
    <p><%= f.text_field :category, class:'text_field' %></p>
  </div>
  <div class="field">
    <p class='section_title'><%= f.label :description, 'Description' %></p>
    <p><%= f.text_field :description, class:'text_field' %></p>
  </div>
  <div class="actions">
    <%= f.submit class: 'submit mini ui givrgreen button' %>
  </div>
<% end %>
</div>