<!DOCTYPE html>
<html>
<head>
  <title>Givr</title>

  <%= stylesheet_link_tag    "reset", media: "all", "data-turbolinks-track" => true %>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= favicon_link_tag "Logo/favicon.ico" %>

<script type="text/javascript" src = "http://code.jquery.com/jquery-1.11.0.js"></script>

<script src="//use.edgefonts.net/quicksand;josefin-sans;forum.js"></script>

<link href='http://fonts.googleapis.com/css?family=Arimo|Raleway' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
